includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/

    treatPhpDocTypesAsCertain: false

    # ВИДАЛИ або закоментуй цей блок:
        # scanFiles:
        #         - _ide_helper_models.php
        #         - _ide_helper.php

    # Уровень 5 - идеально для старта.
    # Когда проект подрастет, сможешь поднять до 7.
    level: 5

    # Игнорируем некоторые специфические ошибки Laravel,
    # которые Larastan иногда неверно интерпретирует
    ignoreErrors:
        # - '#Property .* does not exist on Illuminate\\Database\\Eloquent\\Model#'
        # - '#Call to an undefined method App\\Models\\User::createToken\(\)#'
        # - '#Call to an undefined method App\\Models\\User::currentAccessToken\(\)#'


